<!DOCTYPE html>
<html>
<head>
	<title>杜特蒂称将谋求举行“多边会谈”处理南海争议</title>
	<style>
		*{
			font-size: 16px;
			line-height: 1.5em;
		}
		h1{
			text-align:center;
		}
		p.subhead{
			text-align: center;
			font-size:12px;
			color:#666;
			text-indent: 0;
		}
		p{
			text-indent: 2em;
		}
	</style>
</head>
<body>
<div class="breadcrumb">首页 > <a href="#">新闻管理 </a>查看新闻</div>
	<h1>杜特蒂称将谋求举行“多边会谈”处理南海争议</h1>
	<p class="subhead">发布时间：2016-05-11 08:12:13</p>
	<p>摘要：【环球网报道 记者 查希】据新加坡《联合早报》5月10日消息，料将当选菲律宾总统的候选人杜特蒂承诺通过“多边会谈”，处理在中国南海的主权纠纷。</p>
	<p>　据此前报道，杜特蒂很可能会在选举中胜出，成为下一任菲律宾总统。路透社引述已计算的近90%选票显示，杜特蒂赢得近39%的支持票，得票1490万张。
　　排在第二位的是现任总统阿基诺钦点的接班人罗哈斯，得票890万张，女参议员格雷丝•傅第三，得票830万张，原副总统比奈第四，女参议员圣地亚哥垫底。

　　承认败选的格雷丝•傅表明，她将支持和解工作。她说：“杜特蒂获得人民的委托，让我们给他一次机会。”
　　路透社的报道指出，选举委员会承认的监督组织所宣布的计票结果虽非正式结果，但格雷丝•傅承认败选，是对杜特蒂有力的支持。
　　现年71岁的杜特蒂在计票显示他将胜出时告诉记者，他将会谋求举行“多边会谈”，解决中国南海的主权纠纷。而现任总统阿基诺领导的政府则已“单方面”寻求国际法庭就此纠纷进行仲裁。
　　就此，中国外交部发言人洪磊在5月5日的例行记者会上表示，中国不接受、不参与菲律宾单方面提起的南海仲裁案，完全是依法行事。早在2006年，中国政府就依据《联合国海洋法公约》第298条有关规定，作出排除强制性仲裁的政府声明。菲律宾仲裁案从一开始就缺乏合法性和正当性，实际上是故意披着法律外衣对中国进行政治挑衅。个别国家出于一己私利企图“绑架”国际法治，以“法治”之名行破坏法治之实，践踏国际公平与正义。
相关新闻</p>
</body>
</html>